<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Atualização do Status do Pedido</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; color:
      #333; margin: 0; padding: 0; } .container { max-width: 600px; margin: 20px
      auto; padding: 20px; background-color: #fff; border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); } h1 { color: #007bff; } p {
      margin-bottom: 10px; } .bold { font-weight: bold; }
    </style>
  </head>
  <body>
    <div class='container'>
      <p>Informações sobre o pedido: {{orderId}}</p>
      <p>Olá {{name}}!</p>
      <p>O status atual de seu pedido é:</p>
      <p class='bold'>{{status}}.</p>
    </div>
  </body>
</html>